/ {
    aliases {
        push-button-0 = &button0;
        push-button-1 = &button1;
        status-led = &led0;
        light-control-0 = &led1;
    };

    chosen {
        nordic,pm-ext-flash = &mx25r64;
    };
};

&mx25r64 {
    status = "ok";
};
