menu "anjay-zephyr-client"

config ANJAY_CLIENT_DEVICE_MANUFACTURER
    string "Device manufacturer"
    default "Unknown"

config ANJAY_CLIENT_MODEL_NUMBER
    string "Model number"
    default "Unknown"

config ANJAY_CLIENT_GPS_NRF
    bool "Enable GPS on nRF9160-based devices"
    default n
    depends on BOARD_THINGY91_NRF9160_NS || BOARD_NRF9160DK_NRF9160_NS
    select AT_CMD
    help
      Enable GPS on nRF9160-based devices and Location Object implementation.

      Please note, that nRF9160 is not able to acquire the cold GPS fix if
      the chip is interrupted by any LTE activity. The application might
      temporarily enable GPS priority mode, which shuts down LTE completely and
      attempts to acquire the fix. This behavior is controlled by
      gps_prio_mode_timeout and gps_prio_mode_cooldown variables which are
      configurable in the runtime. Setting gps_prio_mode_timeout to 0 will
      disable the GPS priority mode completely.

config ANJAY_CLIENT_EXTERNAL_GPS_ANTENNA
    bool "Use external GPS antenna"
    default n
    depends on ANJAY_CLIENT_GPS_NRF
    depends on BOARD_THINGY91_NRF9160_NS || BOARD_NRF9160DK_NRF9160_NS

config ANJAY_CLIENT_GPS
    bool
    default y
    depends on ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_ALTITUDE
    bool
    default y
    depends on ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_RADIUS
    bool
    default y
    depends on ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_VELOCITY
    bool
    default n

config ANJAY_CLIENT_GPS_SPEED
    bool
    default y
    depends on ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_FOTA
    bool
    default y
    depends on BOARD_THINGY91_NRF9160_NS || BOARD_NRF9160DK_NRF9160_NS

endmenu

source "Kconfig.zephyr"
