menu "anjay-zephyr-client"

config ANJAY_CLIENT_DEVICE_MANUFACTURER
	string "Device manufacturer"
	default "Unknown"

config ANJAY_CLIENT_MODEL_NUMBER
	string "Model number"
	default "Unknown"

config ANJAY_CLIENT_LOCATION_OBJECT
	def_bool ANJAY_CLIENT_GPS

config ANJAY_CLIENT_GPS
	def_bool ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_ALTITUDE
	def_bool ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_RADIUS
	def_bool ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_GPS_VELOCITY
	def_bool n

config ANJAY_CLIENT_GPS_SPEED
	def_bool ANJAY_CLIENT_GPS_NRF

config ANJAY_CLIENT_LOCATION_SERVICES
	def_bool ANJAY_CLIENT_LOCATION_SERVICES_ASSISTANCE || ANJAY_CLIENT_LOCATION_SERVICES_MANUAL_CELL_BASED
	select ANJAY_WITH_LWM2M11
	select ANJAY_WITH_SEND
	select ANJAY_WITH_SENML_JSON

config ANJAY_CLIENT_LOCATION_SERVICES_ASSISTANCE
	def_bool ANJAY_CLIENT_GPS_NRF_A_GPS || ANJAY_CLIENT_GPS_NRF_P_GPS

menuconfig ANJAY_CLIENT_GPS_NRF
	bool "Enable GPS on nRF9160-based devices"
	default n
	depends on BOARD_THINGY91_NRF9160_NS || BOARD_NRF9160DK_NRF9160_NS
	select AT_CMD
	help
		Enable GPS on nRF9160-based devices and Location Object implementation.

		Please note, that nRF9160 is not able to acquire the cold GPS fix if
		the chip is interrupted by any LTE activity. The application might
		temporarily enable GPS priority mode, which shuts down LTE completely and
		attempts to acquire the fix. This behavior is controlled by
		gps_prio_mode_timeout and gps_prio_mode_cooldown variables which are
		configurable in the runtime. Setting gps_prio_mode_timeout to 0 will
		disable the GPS priority mode completely.

	config ANJAY_CLIENT_GPS_NRF_EXTERNAL_ANTENNA
		bool "Use external GPS antenna"
		depends on ANJAY_CLIENT_GPS_NRF

	config ANJAY_CLIENT_GPS_NRF_A_GPS
		bool "Enable A-GPS using Nordic Location Services over LwM2M"
		depends on ANJAY_CLIENT_GPS_NRF
		select NRF_CLOUD_AGPS
		help
			Attempt to retrieve A-GPS data using Nordic Location Services over LwM2M.

			This is an experimental feature under active development, which is currently
			available only on selected instances of AVSystem's Coiote IoT DM servers.

config ANJAY_CLIENT_LOCATION_SERVICES_MANUAL_CELL_BASED
	bool "Enable manual requests for cell-based location"
	depends on ANJAY_CLIENT_NRF_LC_INFO
	help
		Enable "anjay nls_cell_request" command for retrieving cell-based location using
		Nordic Location Services over LwM2M.

		This is an experimental feature under active development, which is currently
		available only on selected instances of AVSystem's Coiote IoT DM servers.

config ANJAY_CLIENT_NRF_LC_INFO
	def_bool LTE_LINK_CONTROL && (BOARD_THINGY91_NRF9160_NS || BOARD_NRF9160DK_NRF9160_NS)
	help
		Enables handlers tracking nRF9160 Link Control library state and Connectivity
		Monitor, ECID objects utilizing data from LC library.

config ANJAY_CLIENT_NRF_LC_INFO_CELL_POLL_RATE
	int "Current and neighbouring cells stats polling rate [seconds]"
	default 30
	range 1 2147483647
	depends on ANJAY_CLIENT_NRF_LC_INFO

config ANJAY_CLIENT_NETWORK_KEEPALIVE_RATE
	int "Rate of checking whether the network connection is still alive [seconds]"
	default 60
	range 1 2147483647
	depends on WIFI_ESWIFI

config ANJAY_CLIENT_FOTA
	bool "Enable the Firmware Update object"
	depends on BOOTLOADER_MCUBOOT
	select IMG_MANAGER

config ANJAY_CLIENT_PERSISTENCE
	bool "Enable persistence"
	select ANJAY_WITH_ACCESS_CONTROL
	select ANJAY_WITH_MODULE_ACCESS_CONTROL
	help
		Enables persistence of Access Control Object, Attribute Storage, Security Object
		and Server Object.

config ANJAY_CLIENT_FACTORY_PROVISIONING
	bool "Use factory provisioning"
	depends on ANJAY_CLIENT_PERSISTENCE
	help
		Use the Factory Provisioning process to configure the client instead of CLI.

		This option causes the client to load the provisioned settings at boot and disables
		the shell commands that would allow modifying them.

		To provision the settings for use with this configuration, please flash a firmware
		compiled with (TBD) enabled first.

config ANJAY_CLIENT_FACTORY_PROVISIONING_INITIAL_FLASH
	bool "Build the app in initial flashing mode"
	depends on ANJAY_CLIENT_FACTORY_PROVISIONING
	select ANJAY_WITH_CBOR
	select ANJAY_WITH_MODULE_FACTORY_PROVISIONING
	select FILE_SYSTEM
	select MCUMGR
	select MCUMGR_CMD_FS_MGMT
	select MCUMGR_SMP_SHELL
	select UART_CONSOLE_MCUMGR
	help
		An application built in this mode will not perform any normal LwM2M client
		operation, but instead it will allow to perform the initial flashing of the factory
		provisioning data.

config ANJAY_CLIENT_BUILD_MCUBOOT_AUTOMATICALLY
	bool "Build MCUboot as part of the main build process"
	depends on BOOTLOADER_MCUBOOT
	depends on !PARTITION_MANAGER_ENABLED
	select MCUBOOT_GENERATE_CONFIRMED_IMAGE
	default y

endmenu

source "Kconfig.zephyr"
